models/2025-04-24_12-30-14_cnn_large.keras filter=lfs diff=lfs merge=lfs -text
models/2025-04-27_17-39-12_advanced_architecture.keras filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
